<section id="about" class="about_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5 mb-4 mb-lg-0 order-lg-1 order-2">
        <div class="card rounded-0">
          <div class="card-body pt-5">
            <h3>About US</h3>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>

            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 mb-4 mb-lg-0 order-lg-2 order-1">
        <img
          src="../../assets/images/about-img.png"
          class="img-fluid"
          alt="About Us"
        />
      </div>
    </div>
  </div>
</section>
