.header_wrapper .navbar {
  padding: 15px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header_wrapper .navbar-brand img {
  max-width: 120px;
  height: auto;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--text-black);
  display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: var(--primary-text);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-white);
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}
