<section id="menu" class="menu_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">01</span> Fresh Food</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">02</span> Dinner Meals</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">03</span> Classic Menu</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">04</span> Chef's Special</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">05</span> Pasta & Pizza</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body text-md-start text-center">
            <h3><span class="fst-italic">06</span> Vegan Dishes</h3>
            <p class="fst-italic">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="#" class="main-btn mt-4">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
