<app-navbar></app-navbar>
<section id="home" class="banner_wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 text-center text-lg-start order-lg-1 order-2">
        <h1>
          <span>Dining</span><br />
          On The Lake
        </h1>
        <p>
          Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum
          dolor sit amet, conse ctetur adipiscing elit. Lorem ipsum dolor sit
          amet, conse ctetur adipiscing elit.
        </p>

        <a class="main-btn mt-4" href="#">Book a table</a>
      </div>
      <div class="col-lg-7 text-center order-lg-2 order-1">
        <img src="../../../assets/images/Food-Banner.png" class="img-fluid" />
      </div>
    </div>
    <div class="row top-menu mt-5">
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card">
          <img src="../../../assets/images/Menu/menu-1.jpg" alt="menu" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card">
          <img src="../../../assets/images/Menu/menu-2.jpg" alt="menu" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card">
          <img src="../../../assets/images/Menu/menu-3.jpg" alt="menu" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card">
          <img src="../../../assets/images/Menu/menu-4.jpg" alt="menu" />
        </div>
      </div>
    </div>
  </div>
</section>
<app-about></app-about>
<app-menu></app-menu>
<app-offers></app-offers>
<app-reviews></app-reviews>
<app-footer></app-footer>
