<section id="offers" class="offers_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-4">
        <h2>Best Offers</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available,<br
            class="d-none d-md-block"
          />
          but the majority have suffered alteration.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-1.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">Double Burger</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-2.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">Farm House</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-3.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">Bacon Burger</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-4.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">Special Offer</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-5.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">Black Burger</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div
          class="card rounded-0"
          style="
            background-image: url('../../assets/images/offers/offer-6.jpg');
          "
        >
          <div class="offer-text bg-black bg-opacity-50">
            <h3 class="text-white">King Burger</h3>
            <h5>$8.50 <del class="fst-italic opacity-75">$10.50</del></h5>
            <a href="#" class="main-btn mt-3">Add TO Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
